* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

body {
    background:#000000;
    color: #e4e1e1 ;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
